body {
  background: #eee;
  font-family: sans-serif;
  font-size: 12px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 12px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 12px;
}

.button-container {
  background: #e3f4ff;
  align-items: center;
  text-align: center;
  padding: 12px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 8px 24px;
}